<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cartão de Identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mario jose </ion-card-title>
      <ion-card-subtitle>Código da Turma:	ADS0301M </ion-card-subtitle>
      <ion-card-subtitle>matricula:24103521 </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/foto.jpg" alt="Minha Foto" style="width: 150px; border-radius: 50%; margin: auto; display: block;" />
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" routerLink="/sobre">
    Ir para Sobre
  </ion-button>
</ion-content>
